<footer>
    <p><a href="#top" id="back-to-top">回到顶部</a>
    </p>
    <p class="text-small text-grey-dk-100 mb-0">Copyright © 2026 Habezai. All rights reserved.</p>
    <p class="text-small text-grey-dk-00 italic">
    最后构建于：{{ site.time | date: "%Y-%m-%d %H:%M:%S" }}
    </p>
    <hr>
    <p class="text-small text-grey-dk-00 italic"> 
        {% assign utc_time = site.time | date: "%Y-%m-%d %H:%M:%S" %}
        {% assign beijing_time = site.time | date: "%s" | plus: 28800 | date: "%Y-%m-%d %H:%M:%S" %}
        最后构建于：{{ utc_time }} UTC（北京时间 {{ beijing_time }}）
    </p>
</footer>
